/*
BUTTONS
*/
.btn {
  font-size: 16px !important;
  padding: 10px;
  width: 100%;

  &.btn-slider {
    width: auto;
  }

  @include mobile {
    font-size: 18px;
    padding: 10px 34px;
    width: auto;
  }

  &.btn-mar-left {
    margin-left: 0;
    @include mobile {
      margin-left: 20px;
    }
  }
  &.btn-mar-right {
    margin-right: 0;
    @include mobile {
      margin-right: 20px;
    }
  }
  i {
    margin-right: 10px;
  }
}
.btn-no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.btn-default {
  margin-top: 20px;
}
.btn-primary {
  background-color: $light-blue;
  border: none;
  border-radius: 23px;
  color: $white;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
}
.btn-primary:hover {
  color: $white;
  background-color: $blue;
  border: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  color: $white;
  background-color: $blue;
  border: none;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: $white;
  background-color: $blue;
  border: none;
}

.btn-default {
  background-color: $light-grey;
  border: none;
  border-radius: 23px;
  color: $white;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
}
.btn-default:hover {
  color: $white;
  background-color: $grey;
  border: none;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
  color: $white;
  background-color: $grey;
  border: none;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  color: $white;
  background-color: $grey;
  border: none;
}


.btn-white {
  background-color: $white;
  border: none;
  border-radius: 23px;
  color: $light-blue;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
}
.btn-white:hover {
  color: $blue;
  background-color: $white;
  border: none;
}
.btn-white.active, .btn-white:active, .open>.dropdown-toggle.btn-white, .btn-white.focus, .btn-white:focus {
  color: $blue;
  background-color: $white;
  border: none;
}
.btn-white.active.focus, .btn-white.active:focus, .btn-white.active:hover, .btn-white:active.focus, .btn-white:active:focus, .btn-white:active:hover, .open>.dropdown-toggle.btn-white.focus, .open>.dropdown-toggle.btn-white:focus, .open>.dropdown-toggle.btn-white:hover {
  color: $blue;
  background-color: $white;
  border: none;
}

.btn-transparent {
  background-color: transparent !important;
  border: none;
  border-radius: 23px;
  color: $light-blue;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
  padding: 10px 0;
}
.btn-transparent:hover {
  color: $blue;
  background-color: transparent !important;
  border: none;
}
.btn-transparent.active, .btn-transparent:active, .open>.dropdown-toggle.btn-transparent, .btn-transparent.focus, .btn-transparent:focus {
  color: $blue;
  background-color: transparent !important;
  border: none;
}
.btn-transparent.active.focus, .btn-transparent.active:focus, .btn-transparent.active:hover, .btn-transparent:active.focus, .btn-transparent:active:focus, .btn-transparent:active:hover, .open>.dropdown-toggle.btn-transparent.focus, .open>.dropdown-toggle.btn-transparent:focus, .open>.dropdown-toggle.btn-transparent:hover {
  color: $blue;
  background-color: transparent !important;
  border: none;
}

.btn-grey {
  background-color: $little-grey;
  border: none;
  border-radius: 23px;
  color: $dark-grey;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
}
.btn-grey:hover {
  color: $dark-grey;
  background-color: $very-light-grey;
  border: none;
}
.btn-grey.active, .btn-grey:active, .open>.dropdown-toggle.btn-grey, .btn-grey.focus, .btn-grey:focus {
  color: $dark-grey;
  background-color: $very-light-grey;
  border: none;
}
.btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus, .btn-grey:active:focus, .btn-grey:active:hover, .open>.dropdown-toggle.btn-grey.focus, .open>.dropdown-toggle.btn-grey:focus, .open>.dropdown-toggle.btn-grey:hover {
  color: $dark-grey;
  background-color: $very-light-grey;
  border: none;
}

.btn-call {
  margin-top: 0;
  line-height: 32px;
  i {
    font-size: 32px;
    float: left;
    margin-right: 10px;
  }
  p {
    float: left;
    font-weight: $bold;
  }
}


.btn-facebook {
  background-color: $fb-blue;
  border: none;
  border-radius: 23px;
  color: $white;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  @include speed-normal;
}
.btn-facebook:hover {
  color: $white;
  background-color: $light-fb-blue;
  border: none;
}
.btn-facebook.active, .btn-facebook:active, .open>.dropdown-toggle.btn-facebook, .btn-facebook.focus, .btn-facebook:focus {
  color: $white;

  background-color: $light-fb-blue;
  border: none;
}
.btn-facebook.active.focus, .btn-facebook.active:focus, .btn-facebook.active:hover, .btn-facebook:active.focus, .btn-facebook:active:focus, .btn-facebook:active:hover, .open>.dropdown-toggle.btn-facebook.focus, .open>.dropdown-toggle.btn-facebook:focus, .open>.dropdown-toggle.btn-facebook:hover {
  color: $white;
  background-color: $light-fb-blue;
  border: none;
}
.btn-facebook i {
  margin-right: 10px;
}





.btn.btn-blue {
  padding: 10px 20px;
}
.btn-blue {
  color: $white;
  background-color: $blue;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}
.btn-blue:hover {
  color: $white;
  background-color: $light-blue;
  border: none;
}
.btn-blue.active, .btn-blue:active, .open>.dropdown-toggle.btn-grey, .btn-blue.focus, .btn-blue:focus {
  color: $white;
  background-color: $light-blue;
  border: none;
}
.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open>.dropdown-toggle.btn-blue.focus, .open>.dropdown-toggle.btn-blue:focus, .open>.dropdown-toggle.btn-blue:hover {
  color: $white;
  background-color: $light-blue;
  border: none;
}



.buttons-down {
  float: right;
  margin-top: -20px;
  .btn {
    margin-left: 20px;
    float: right;
  }
}

a.back-link {
  display: block;
  margin-top: 10px;
}