/*
THUMBNAIL CARDS
*/
.thumbnail.card {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  // @include speed-normal;

  img {
    @include speed-slow;
  }

  &:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.thumbnail.card .caption {
  padding: 30px;
  position: absolute;
  margin-top: -126px;
}
.thumbnail.card {
  h3 {
    color: $white;
    padding-top: 0;
  }
  .details {
    color: $white;
    font-size: 18px;
  }
  &.card-top {
    border-bottom: 2px solid $white;
  }
}
.thumbnail.card.card-half {
  width: 100%;
  float: none;

  @include mobile {
    width: 50%;
    float: left;
  }

  &.card-half-left {
    border-bottom: 2px solid $white;
    border-left: none;
    @include mobile {
      border-bottom: none;
      border-left: 1px solid $white;
    }
  }
  &.card-half-right {
    border-bottom: 2px solid $white;
    border-right: none;
    @include mobile {
      border-bottom: none;
      border-right: 1px solid $white;
    }
  }
}


.thumbnail.card-newcar {
  background-color: $little-grey;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  @include speed-fast;

  @include mobile {
    background-color: $white;
  }
  .cotiza-list & {
    padding: 0;
    margin: 0;
    background-color: $white;
    @include mobile {
      padding: 16px 0;
      margin: 5px;
    }
    @include tablet {
      background-color: transparent;
      margin: 10px;
    }
  }
}
.thumbnail.card-newcar:hover {
  background-color: transparent;

  @include mobile {
    background-color: $near-white;
  }
}
.card-newcar-tag {
  position: absolute;
  background-color: $light-blue;
  color: $white;
  padding: 4px 10px;
  margin: 4px;
  font-size: 14px;

  @include mobile {
    margin: 10px;
  }
  @include desktop {
    margin: 20px;
  }
}
.thumbnail.card-newcar .caption {
  padding: 0;

  @include smallmobile {
    padding: 10px;
  }
  @include desktop {
    padding: 10px 20px 20px 20px;
  }

  .car-name {
    font-size: 12px;
    font-weight: $regular;

    @include smallmobile {
      font-size: 15px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  .car-value {
    font-size: 14px;
    font-weight: $bold;

    @include smallmobile {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
  .car-discount {
    font-size: 12px;
    font-weight: $regular;

    @include smallmobile {
      font-size: 14px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 14px;
    }

    span.tachado {
      text-decoration: line-through;
    }
  }
}

.thumbnail.card-compare {
  background-color: $white;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  @include speed-fast;

  // @include mobile {
  //   background-color: $white;
  // }
  .cotiza-list & {
    padding: 0;
    margin: 0;
    background-color: $white;
    @include mobile {
      padding: 16px 0;
      margin: 5px;
    }
    @include tablet {
      background-color: transparent;
      margin: 10px;
    }
  }
  form.form-card {
    display: block;
    @include tablet {
      display: none;
    }
  }
}
.thumbnail.card-compare:hover {
  background-color: transparent;

  @include mobile {
    background-color: $near-white;
  }

  form.form-card {
    display: block;
    @include tablet {
      display: block;
    }
  }
}
.thumbnail.card-compare .caption {
  padding: 0;

  @include smallmobile {
    padding: 10px;
  }
  @include desktop {
    padding: 10px 20px 20px 20px;
  }

  .car-name {
    font-size: 12px;
    font-weight: $regular;

    @include smallmobile {
      font-size: 15px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  .car-value {
    font-size: 14px;
    font-weight: $bold;

    @include smallmobile {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
}
.form-card-wrapper {
  position: relative;
  z-index: 99;
  background-color: transparent;
  width: 100%;

  @include tablet {
    position: absolute;
    z-index: 99;
    background-color: $near-white;
  }
}

.category-list .col-xs-6 {
  padding: 0;
}
.cotiza-list, .compara-list {
  margin: 20px 0;
}



.thumbnail.card-accesories {
  // background-color: $little-grey;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  // margin-bottom: 20px;
  overflow: hidden;
  @include speed-fast;

  @include mobile {
    background-color: $white;
  }
  .accesories-list & {

    background-color: $white;
    @include mobile {
      margin: 5px;
    }
    @include tablet {
      background-color: transparent;
      margin: 10px;
    }
  }
}
.thumbnail.card-accesories:hover {
  background-color: transparent;

  @include mobile {
    background-color: $near-white;
  }
}
.thumbnail.card-accesories .caption {
  padding: 0;
  @include smallmobile {
    padding: 10px;
  }
  .accesories-name {
    font-size: 12px;
    font-weight: $bold;

    @include smallmobile {
      font-size: 15px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
  }
  .accesories-value {
    font-size: 14px;
    font-weight: $bold;

    @include smallmobile {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 18px;
    }
  }
}
.accesories-list .col-xs-6 {
  padding: 0;
}
.accesories-list {
  margin: 20px 0;
}





.thumbnail.card-small {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  @include speed-fast;

  .description {
    padding-top: 10px;
    height: 56px;
    overflow: hidden;
  }
  a {
    font-size: 14px;
    padding-top: 4px;
  }
}
.thumbnail.card-small img {
  // @include speed-fast;
}
.thumbnail.card-small:hover {
  // background-color: $light-grey;

  img {
    opacity: 0.65;
  }

  i.card-like {
    display: block;

    &:before { content: "\f08a"; }
    &:hover { &:before { content: "\f004"; } }
  }
}
.thumbnail.card-small .caption {
  padding: 20px 30px;
}
.thumbnail.card-small {
  h3 {
    color: $blue;
    font-size: 20px;
    padding-top: 0;
  }
  .value {
    font-size: 18px;
    font-weight: $bold;
  }
  table {
    margin-top: 20px;
    td p {
      font-size: 14px;
      padding-right: 20px;
    }
  }
}
.thumbnail.card-small i.card-like-active {
  color: $yellow;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;

  @include tablet {
    display: block;
    font-size: 24px;
  }
}
.thumbnail.card-small i.card-like {
  color: $yellow;
  display: block;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;

  @include tablet {
    display: block;
    font-size: 24px;
  }
}
.thumbnail.card-small.card-sold {
  img {
    opacity: 0.7;
  }
}
.tag-sold {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
  span {
    color: $white;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px;
  }
}
.tag-highlight {
  background-color: rgba(234,200,17,0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
  span {
    color: $blue;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px;
  }
}

.car-list-search, .car-list-rel {
  .thumbnail.card-small .caption {
    padding: 20px 16px;

    h3 {
      font-size: 18px;
    }
    .value {
      font-size: 16px;
      font-weight: $bold;
    }
    table {
      margin-top: 10px;
      margin-bottom: 20px;
      td p {
        font-size: 12px;
        padding-right: 20px;
      }
    }
    label {
      font-size: 14px;
    }
  }
}

