 .contact-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
  p {
    text-align: center;
  }
  h1 {
    padding: 20px 0 30px 0;
  }
}

.contact-info-icon {
  text-align: center;
  i {
    font-size: 64px;
    color: $mid-grey;
  }
}

.contact-info-social {
  text-align: center;
  margin: 0 auto;
  a {
    margin: 0 10px;

    i {
      color: $light-blue;
      font-size: 32px;
      text-align: center;
    }
    &:hover i {
      color: $blue;
    }
  }
}

.sede-item {
  padding-bottom: 40px;
  a h4 {
    color: $dark-grey;
    &:hover {
      color: $light-blue;
    }
  }
  p {
    font-size: 14px;
  }
}

.sede-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
  p {
    text-align: center;
    font-size: 14px;
    padding-right: 0;
    @include mobile {
      text-align: left;
    }
    @include tablet {
      padding-right: 60px;
    }
  }
  h4 {
    text-align: center;
    @include mobile {
      text-align: left;
    }
  }
}

.sede-info-icon {
  text-align: center;
  @include mobile {
    text-align: left;
  }
  i {
    font-size: 46px;
    color: $mid-grey;
  }
}