@font-face {
  font-family: 'VWHeadWeb-Bold';
  src: url('../fonts/VWHeadWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VWHeadWeb-Bold.woff') format('woff'),
    url('../fonts/VWHeadWeb-Bold.ttf')  format('truetype'),
    url('../fonts/VWHeadWeb-Bold.svg#VWHeadWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VWHeadWeb-Regular';
  src: url('../fonts/VWHeadWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VWHeadWeb-Regular.woff') format('woff'),
    url('../fonts/VWHeadWeb-Regular.ttf')  format('truetype'),
    url('../fonts/VWHeadWeb-Regular.svg#VWHeadWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}