/*
FOOTER
*/
footer {
  background-color: $white;
}

#pre-footer {
  background-color: $yellow;
  min-height: 85px;
}
.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0;

  @include tablet {
    text-align: left;
    margin: 0;
  }

  span {
    font-size: 18px;
    height: 40px;
    line-height: 40px;

    @include tablet {
      height: 85px;
      line-height: 85px;
      padding-left: 16px;
    }
  }

  i {
    display: block;
    float: none;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px;

    @include tablet {
      float: left;
      margin-right: 10px;
      line-height: 80px;
    }
  }
}
a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: $light-blue;
}

#footer {
  padding: 60px 0;

  p {
    font-size: 16px;

    b {
      color: $light-grey;
      font-weight: $bold;
      margin-bottom: 20px;
      display: block;
    }
  }
}
.footer-contact {
  text-align: left;

  p {
    color: $light-grey;
  }

  span {
    color: $dark-grey;
    display: block;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
  }
}

.footer-social-icons {
  // margin: 0 auto;
  // width: 185px;

  @include tablet {
    margin: auto;
    width: auto;
  }

  a {
    display: block;
    float: none;
    height: 46px;
    margin-left: -15px;

    @include tablet {
      float: left;
      margin-left: 0;
    }
    span {
      color: $light-blue;
      font-size: 15px;
      line-height: 46px;
    }
    i {
      color: $light-blue;
      float: left;
      font-size: 22px;
      line-height: 28px;
      padding: 10px;
      height: 46px;
      text-align: center;
      width: 46px;
    }


    &:hover i, span {
      color: $blue;
    }
  }
}
#footer ul {
  li {
    a {
      color: $light-grey;
      display: block;
      font-size: 13px;
      padding: 8px 0;

      &:hover {
        color: $grey;
      }
    }
  }
  &.menu-footer li {
    float: none;
    padding-right: 20px;

    @include tablet {
      float: left;
    }

    a {
      color: $light-blue;
      font-weight: $bold;
      &:hover {
        color: $blue;
      }
    }
  }
}
p.footer-rights {
  color: $light-grey;
  font-size: 13px !important;
  padding-top: 30px;
  text-align: left;

  @include tablet {
    text-align: right;
    padding-top: 10px;
  }
}

.row.padding-top {
  padding-top: 50px;
}