/*
HEADER
*/
header {
  background-color: $white;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 99;

  @include tablet {
    position: fixed;
  }
}

#pre-header {
  background-color: $light-blue;
  float: left;
  height: 40px;
  width: 100%;
}
.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 300px;
  height: 40px;
  @include mobile {
    padding-right: 80px;
    float: right !important;
    width: auto;
  }
}
.pre-header-icon {
  display: block;
  float: left;

  span {
    color: $white;
    float: right;
    font-size: 18px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: -10px;
  }

  i {
    color: $white;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    width: 40px;
  }
}

#header {
  float: left;
  height: 70px;
  width: 100%;
}

.header-logo {
  float: left;
  height: 70px;
  padding: 0 30px;
  @include tablet {
    // padding: 12px 26px;
  }
  @include desktop {
    // padding: 12px 30px;
    margin-left: 60px;
  }
}

.header-logo img {
  height: 52px;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  margin-top: 9px;

  @include mobile {
    position: relative;
    margin-left: auto;
    left: auto;
  }
}

.header-menu {
  @include reset;
}

.navbar-collapse {
  padding: 0;
}
