/*
BUTTONS HOME
*/
.buttons-home {
  margin: 0 15px;
}
.buttons-home-wrapper {
  background-color: $light-blue;
  overflow: hidden;
  padding: 0;

  i {
    color: $white;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    font-size: 42px;
    text-align: center;
    line-height: 42px;

    @include tablet {
      color: $white;
    }
  }
  span {
    color: $white;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    @include tablet {
      color: $white;
    }
  }
}
.btn-home {
  padding: 50px 0;
  @include tablet {
    padding: 100px 0;
  }
}
.btn-home:hover {
  background-color: $blue;
  // @include speed-normal;

  i, span {
    color: $white;
  }
}
.btn-border-r {
  border-bottom: 1px solid $near-white;
  border-right: 1px solid $near-white;
  @include tablet {
    border-bottom: none;
    border-right: 1px solid $near-white;
  }
}
.btn-border-m {
  border-bottom: 1px solid $near-white;
  border-right: none;
  @include tablet {
    border-bottom: none;
    border-right: 1px solid $near-white;
  }
}

// .subscription {
//   background-image: url(../img/subscription.jpg);
//   background-repeat: no-repeat;
//   background-position: center center;
//   background-size: cover;
//   color: $white;
//   margin-top: 40px;

//   @include tablet {
//     margin-top: 0;
//   }

//   p {
//     font-size: 14px;
//   }
//   a {
//     color: $yellow;
//     &:hover {
//       color: $light-yellow;
//     }
//   }
// }

// .form-subscription {
//   padding-top: 40px;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-bottom: 40px;
//   min-height: auto;

//   @include tablet {
//     height: 440px;
//     padding-bottom: 0;
//   }
// }


.owl-carousel .owl-controls .owl-nav .owl-prev {
  height: 70px;
  width: 70px;
  border-radius: 35px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-image: url("../img/arrow-left.svg") !important;
  padding: 20px !important;
  z-index: 10;
  cursor: pointer !important;
  -moz-background-size: 27px 44px !important;
  -webkit-background-size: 27px 44px !important;
  background-size: 35px 50px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-right: 50px !important;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  height: 70px;
  width: 70px;
  border-radius: 35px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-image: url("../img/arrow-right.svg") !important;
  padding: 20px !important;
  z-index: 10;
  cursor: pointer !important;
  -moz-background-size: 27px 44px !important;
  -webkit-background-size: 27px 44px !important;
  background-size: 35px 50px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-left: 50px !important;
}