/*
NEWSFEED HOME
*/
.newsfeed {}

.news-item {
  background-color: $white;
  height: auto;
  float: left;
  // margin-bottom: 20px;
  overflow: hidden;

  margin: 0 40px 20px 40px;

  @include tablet {
    height: 280px;
    margin: 0 0 20px 0;
  }
}
.news-item-img {
  height: 280px;
  overflow: hidden;

  @include tablet {
    height: auto;
    // overflow: auto;
  }
}
.news-item-img .img {
  overflow: hidden;

  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;

  @include speed-slow;

  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.newsfeed .news-item .news-item-meta {
  padding: 42px 30px;
}
.news-item-meta {
  .news-meta-date {
    display: block;
    font-size: 14px;
    font-weight: $bold;
    padding-bottom: 6px;
  }
  .news-meta-title {
    display: block;
    font-size: 18px;
    font-weight: $bold;
  }
  .news-excerpt {
    display: block;
    height: 100px;
    margin-top: 20px;
    overflow: hidden;

    @include tablet {
      height: 80px;
    }
    @include desktop {
      height: 100px;
    }

    p {
      font-size: 14px;
    }
  }
}

.thumbnail.card-new {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  @include speed-fast;
}
.thumbnail.card-new img {
}
.thumbnail.card-new:hover {
}
.thumbnail.card-new .caption {
  padding: 30px 30px;
}
.thumbnail.card-new {
  h3 {
    color: $blue;
    font-size: 20px;
    padding-top: 0;
  }
  .value {
    font-size: 18px;
    font-weight: $bold;
  }
  table {
    margin-top: 20px;
    td p {
      font-size: 14px;
      padding-right: 20px;
    }
  }
}

.card-new-comments {
  margin: 20px;
}
.badge.badge-comments {
  background-color: $blue;
  border-radius: 6px 6px 6px 0;
  font-weight: $regular;
  padding: 10px 12px;
}
.badge.badge-comments:after {
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $blue;
  content: "";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -12px;
  height: 10px;
  width: 10px;
}

/*
PAGINATION
*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $very-light-grey;
  border-color: $very-light-grey;
  color: $dark-grey;
}
.pagination>li>a, .pagination>li>span {
  color: $blue;
}

.tags-wrapper {
  display: block;
  height: auto;
  float: left;
  padding-bottom: 30px;
  width: 100%;
}

.btn.btn-tag {
  background: transparent;
  float: left;
  padding: 12px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
