.nav-search-mobile {
  display: block;
  @include mobile {
    display: none;
  }
}

#search {
  background-color: $near-white;
  height: 60px;
}

#search input {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  width: 50%;
  @include tablet {
    width: 70%;
  }
  height: 60px;
  letter-spacing: 2px;
  display: inline-block;
  color: $dark-grey;
  padding: 20px 60px 20px 0;
  @include desktop {
    padding: 20px 60px;
  }
  background-color: transparent;
  border: 0;
  margin-left: 40px;
}
#search button {
  background: $light-blue;
  border: none;
  width: 60px;
  height: 60px;
  float: right;

  i {
    color: $white;
  }

  &:hover {
    background-color: $blue;
    i {
      color: $white;
    }
  }
}
#search input:focus, #search button:focus {
  outline: none;
}
ul.nav.navbar-nav.navbar-right.nav-search-mobile{
  float: right;
}
ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn {
  float: right;
  margin-top: -50px;
  width: auto;

  i {
    font-size: 26px;
    padding-right: 18px;
  }

}





 .search-results {
  padding: 0;
  margin-top: 40px;
  @include tablet {
    margin-top: 0;
  }

  p {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    @include desktop {
      line-height: 40px;
    }
  }
 }

.order-by {
  float: left;
  margin-top: 20px;
  @include tablet {
    float: right;
    margin-top: 0;
  }
}

select.search-order {
  width: 240px;
}

.filter-item {
  background-color: $near-white;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;

  span {
    color: $blue;
  }
  i {
    color: $blue;
    font-size: 20px;
  }
  a {
    height: 20px;
    width: 20px;
  }
}

p.search-title {
  width: 100%;
  float: left;
}