.slider {
  background-color: $grey;
  height: 540px;

  @include tablet {
    height: 640px;
  }

  @include desktop {
    height: 780px;
  }
  @include big {
    height: 860px;
  }
  padding: 0;
}

.slider-inner {
  background-color: $grey;
  height: 280px;

  @include tablet {
    height: 360px;
  }
  @include desktop {
    height: 420px;
  }
  @include big {
    height: 470px;
  }
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0;
  @include desktop {
    padding-top: 110px;
  }
  &.swiper-inner {
    padding-top: 0 !important;
    @include desktop {
      padding-top: 0 !important;
    }
  }
}
.swiper-slide {
  background-size: cover !important;
  background-position: center center !important;
}



.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px;
  @include tablet {
    right: 140px;
  }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px;
  @include tablet {
    left: 140px;
  }
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 40px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: $white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: $blue;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-left.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;

  @include tablet {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}
.swiper-button-next, .swiper-button-prev {
  background-size: 35px 50px;
  display: none;

  @include mobile {
    display: block;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-right.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;

  @include tablet {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}

a.slider-car-meta {
  margin-left: 20px;
  margin-top: 180px;
  display: block;

  @include smallmobile {
    margin-left: 15%;
    margin-top: 240px;
  }

  @include mobile {
    margin-left: 15%;
    margin-top: 25%;
  }

  @include tablet {
    margin-left: 20%;
    margin-top: 16%;
  }

  @include desktop {
    margin-left: 14%;
    margin-top: 6%;
  }

  span.slider-car-name {
    color: $white;
    display: block;
    font-family: $vwhead-bold;
    font-weight: $regular;
    font-size: 28px;
    // text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    @include mobile {
      text-shadow: none;
      font-size: 36px;
    }

    i {
      margin-left: 10px;
      font-size: 20px;
    }
  }
  span.slider-car-info {
    color: $white;
    display: block;
    font-family: $vwhead-regular;
    font-size: 18px;
    padding-top: 10px;
    // text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    @include mobile {
      text-shadow: none;
    }
  }
}