/*
TABS
*/

.tabs-wrapper {
  background-color: $little-grey;
  width: 100%;
  height: auto;
  display: table;

  @include mobile {
    background-color: $white;
  }

  .col-xs-12 {
    padding: 0;
  }
}

.tab-close {
  display: none;
  padding-bottom: 16px;

  @include mobile {
    display: block;
  }
  a {
    &:hover i {
      color: $dark-grey;
    }
  }
  i {
    font-size: 46px;
    color: $grey;
  }
}

.tab-close-block {
  display: block;

  a {
    &:hover i {
      color: $dark-grey;
    }
  }
  i {
    font-size: 46px;
    color: $grey;
  }
}



.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  // color: $blue;
  background-color: transparent;
  border: none;
}

.nav-tabs > li > a {
  color: $grey;
  font-size: 18px;
  padding: 12px 20px;
}
.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0;
}
.nav-tabs>li>a:hover {
  border: none;
  background: transparent;
}


ul.nav.nav-tabs {
  height: 50px;

  li {
    height: 50px;
    padding-top: 10px;

    a {
      height: 50px;
      display: block;
      padding: 0;
      p {
        color: $very-light-grey;
        font-size: 16px;
        line-height: 30px;
        float: left;
        margin-right: 30px;
        display: none;
        @include tablet {
          display: block;
        }
      }
      span {
        background-color: $very-light-grey;
        color: $white;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: block;
        float: left;
        line-height: 28px;
        text-align: center;
        margin-right: 30px;
        @include tablet {
          margin-right: 10px;
        }
      }

      &:hover {
        p { color: $light-blue;
        }
        span {
          background-color: $light-blue;
        }
      }
      &:focus {
        background-color: transparent;
      }
    }

    &.active {
      a {
        p {
          color: $light-blue;
        }
        span {
          background-color: $light-blue;
        }
      }
    }
  }
}