@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "header";
@import "forms";
@import "checkbox";
@import "buttons";
@import "nav";
@import "stickynav";
@import "cards";
@import "tabs";
@import "tables";
@import "lists";
@import "search";
@import "home";
@import "slider";
@import "car";
@import "grid";
@import "lightbox";
@import "news";
@import "contact";
@import "footer";
@import "favorites";
@import "common";
@import "carousel";


/*
BODY
*/
body {
  background-color: $near-white;
  font-family: $vwhead-regular;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $vwhead-bold;
}

h1 {
  font-family: $vwhead-bold;
  font-size: 28px;
  font-weight: $bold;
  padding: 20px 0 60px 0;
  text-align: center;

  &.h1-home {
    padding: 20px 0 40px 0;
  }
}
h2 {
  font-size: 26px;
  font-weight: $bold;
  padding-top: 30px;
  padding-bottom: 20px;
}
h3 {
  font-size: 26px;
  padding: 12px 0;
  font-weight: $regular;

  &.subtitle {
    font-size: 20px;
    font-weight: $bold;
    text-align: center;
  }
}
h4 {
  font-size: 22px;
  font-weight: $light;
  padding: 20px 0;
}
h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: $regular;
}
h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: $bold;
}

h1.center-title {
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-family: $vwhead-regular;
}

p.small-text {
  font-size: 12px;
}

p.form-title {
  padding-left: 16px;
}

p.text-title {
  color: $blue;
  margin-top: 20px;
  font-size: 18px;
}

p.total-value {
  color: $blue;
  font-size: 18px;
}

p.no-margin {
  margin-bottom: 0;
}

p.news-date {
  padding: 20px 0;
}

p.blue {
  color: $light-blue;
}

.col-no-margin {
  margin: 0;
  padding: 0;
}


.owl-theme .owl-controls{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-controls .owl-nav [class*=owl-]{color:#fff;font-size:14px;margin:5px;padding:4px 7px;background:#d6d6d6;display:inline-block;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#869791;color:#fff;text-decoration:none}.owl-theme .owl-controls .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#d6d6d6;display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}



/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}