/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */
/* MEDIA QUERIES */
/*
RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #1b5d89; }

a:hover, a:focus {
  color: #2274ac;
  text-decoration: none; }

ul {
  list-style: none outside; }

ol {
  list-style-position: inside; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

@font-face {
  font-family: 'VWHeadWeb-Bold';
  src: url("../fonts/VWHeadWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadWeb-Bold.woff") format("woff"), url("../fonts/VWHeadWeb-Bold.ttf") format("truetype"), url("../fonts/VWHeadWeb-Bold.svg#VWHeadWeb-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'VWHeadWeb-Regular';
  src: url("../fonts/VWHeadWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadWeb-Regular.woff") format("woff"), url("../fonts/VWHeadWeb-Regular.ttf") format("truetype"), url("../fonts/VWHeadWeb-Regular.svg#VWHeadWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
HEADER
*/
header {
  background-color: #ffffff;
  height: 110px;
  position: relative;
  width: 100%;
  z-index: 99; }
  @media only screen and (min-width: 62em) {
    header {
      position: fixed; } }

#pre-header {
  background-color: #2274ac;
  float: left;
  height: 40px;
  width: 100%; }

.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 300px;
  height: 40px; }
  @media only screen and (min-width: 48em) {
    .pre-header-contact {
      padding-right: 80px;
      float: right !important;
      width: auto; } }

.pre-header-icon {
  display: block;
  float: left; }
  .pre-header-icon span {
    color: #ffffff;
    float: right;
    font-size: 18px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: -10px; }
  .pre-header-icon i {
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    width: 40px; }

#header {
  float: left;
  height: 70px;
  width: 100%; }

.header-logo {
  float: left;
  height: 70px;
  padding: 0 30px; }
  @media only screen and (min-width: 75em) {
    .header-logo {
      margin-left: 60px; } }

.header-logo img {
  height: 52px;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  margin-top: 9px; }
  @media only screen and (min-width: 48em) {
    .header-logo img {
      position: relative;
      margin-left: auto;
      left: auto; } }

.header-menu {
  margin: 0;
  padding: 0; }

.navbar-collapse {
  padding: 0; }

/*
FORMS
*/
form p {
  margin-bottom: 20px; }
form p.p-pad {
  margin-top: 20px; }
form label {
  font-size: 14px; }
form a.form-link {
  padding-top: 30px; }

form.form-wide {
  margin: 20px 0; }

form.form-cols {
  padding: 30px 0;
  border-radius: 0; }
  form.form-cols a {
    color: #2274ac; }
    form.form-cols a:hover {
      color: #1b5d89; }

form.form-card {
  padding: 0 20px; }

form.form-card select {
  margin: 0; }

form.form-block {
  border-radius: 0;
  padding: 0 50px; }
  form.form-block a {
    color: #2274ac;
    text-decoration: underline; }
    form.form-block a:hover {
      color: #1b5d89; }

.form-group {
  margin-bottom: 0; }

.form-control:focus {
  border-color: #2274ac;
  box-shadow: none; }

.form-control {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #8b949f !important;
  padding: 6px 0px !important;
  background-color: transparent !important;
  font-size: 16px; }

.form-control {
  height: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-register {
  margin-top: 30px; }
  .form-register p {
    float: left;
    padding-bottom: 0;
    padding-right: 20px; }

textarea.form-control {
  resize: vertical; }

.form-horizontal .checkbox-inline {
  padding-top: 16px !important; }

.checkbox-inline, .radio-inline {
  font-weight: 700; }

.checkbox-wrapper {
  margin-top: 40px; }

.checkbox {
  padding-left: 20px; }

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  font-size: 14px; }
  @media only screen and (min-width: 48em) {
    .checkbox label {
      font-size: 16px; } }

.checkbox span.checkbox-info {
  float: right;
  font-weight: 700;
  font-size: 14px; }
  @media only screen and (min-width: 48em) {
    .checkbox span.checkbox-info {
      font-size: 16px; } }

.checkbox label::before {
  content: "";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #333333;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1; }

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px; }

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #2274ac;
  border-color: #2274ac; }

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
  font-size: 14px;
  text-align: center;
  padding: 0 6px;
  line-height: 24px; }

.checkbox-cotizar {
  height: 70px;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 4px; }

.checkbox-comparar {
  float: right;
  position: relative;
  margin-top: -50px;
  margin-right: 10px; }

/*
BUTTONS
*/
.btn {
  font-size: 16px !important;
  padding: 10px;
  width: 100%; }
  .btn.btn-slider {
    width: auto; }
  @media only screen and (min-width: 48em) {
    .btn {
      font-size: 18px;
      padding: 10px 34px;
      width: auto; } }
  .btn.btn-mar-left {
    margin-left: 0; }
    @media only screen and (min-width: 48em) {
      .btn.btn-mar-left {
        margin-left: 20px; } }
  .btn.btn-mar-right {
    margin-right: 0; }
    @media only screen and (min-width: 48em) {
      .btn.btn-mar-right {
        margin-right: 20px; } }
  .btn i {
    margin-right: 10px; }

.btn-no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.btn-default {
  margin-top: 20px; }

.btn-primary {
  background-color: #2274ac;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #1b5d89;
  border: none; }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  color: #ffffff;
  background-color: #1b5d89;
  border: none; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #ffffff;
  background-color: #1b5d89;
  border: none; }

.btn-default {
  background-color: #8b949f;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-default:hover {
  color: #ffffff;
  background-color: #7d7f7f;
  border: none; }

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
  color: #ffffff;
  background-color: #7d7f7f;
  border: none; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: #ffffff;
  background-color: #7d7f7f;
  border: none; }

.btn-white {
  background-color: #ffffff;
  border: none;
  border-radius: 23px;
  color: #2274ac;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-white:hover {
  color: #1b5d89;
  background-color: #ffffff;
  border: none; }

.btn-white.active, .btn-white:active, .open > .dropdown-toggle.btn-white, .btn-white.focus, .btn-white:focus {
  color: #1b5d89;
  background-color: #ffffff;
  border: none; }

.btn-white.active.focus, .btn-white.active:focus, .btn-white.active:hover, .btn-white:active.focus, .btn-white:active:focus, .btn-white:active:hover, .open > .dropdown-toggle.btn-white.focus, .open > .dropdown-toggle.btn-white:focus, .open > .dropdown-toggle.btn-white:hover {
  color: #1b5d89;
  background-color: #ffffff;
  border: none; }

.btn-transparent {
  background-color: transparent !important;
  border: none;
  border-radius: 23px;
  color: #2274ac;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  padding: 10px 0; }

.btn-transparent:hover {
  color: #1b5d89;
  background-color: transparent !important;
  border: none; }

.btn-transparent.active, .btn-transparent:active, .open > .dropdown-toggle.btn-transparent, .btn-transparent.focus, .btn-transparent:focus {
  color: #1b5d89;
  background-color: transparent !important;
  border: none; }

.btn-transparent.active.focus, .btn-transparent.active:focus, .btn-transparent.active:hover, .btn-transparent:active.focus, .btn-transparent:active:focus, .btn-transparent:active:hover, .open > .dropdown-toggle.btn-transparent.focus, .open > .dropdown-toggle.btn-transparent:focus, .open > .dropdown-toggle.btn-transparent:hover {
  color: #1b5d89;
  background-color: transparent !important;
  border: none; }

.btn-grey {
  background-color: #cfd7d9;
  border: none;
  border-radius: 23px;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-grey:hover {
  color: #333333;
  background-color: #e3e3e3;
  border: none; }

.btn-grey.active, .btn-grey:active, .open > .dropdown-toggle.btn-grey, .btn-grey.focus, .btn-grey:focus {
  color: #333333;
  background-color: #e3e3e3;
  border: none; }

.btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus, .btn-grey:active:focus, .btn-grey:active:hover, .open > .dropdown-toggle.btn-grey.focus, .open > .dropdown-toggle.btn-grey:focus, .open > .dropdown-toggle.btn-grey:hover {
  color: #333333;
  background-color: #e3e3e3;
  border: none; }

.btn-call {
  margin-top: 0;
  line-height: 32px; }
  .btn-call i {
    font-size: 32px;
    float: left;
    margin-right: 10px; }
  .btn-call p {
    float: left;
    font-weight: 700; }

.btn-facebook {
  background-color: #3b5999;
  border: none;
  border-radius: 23px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook.active, .btn-facebook:active, .open > .dropdown-toggle.btn-facebook, .btn-facebook.focus, .btn-facebook:focus {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook.active.focus, .btn-facebook.active:focus, .btn-facebook.active:hover, .btn-facebook:active.focus, .btn-facebook:active:focus, .btn-facebook:active:hover, .open > .dropdown-toggle.btn-facebook.focus, .open > .dropdown-toggle.btn-facebook:focus, .open > .dropdown-toggle.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook i {
  margin-right: 10px; }

.btn.btn-blue {
  padding: 10px 20px; }

.btn-blue {
  color: #ffffff;
  background-color: #1b5d89;
  border: none;
  margin-top: 20px;
  font-size: 16px; }

.btn-blue:hover {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.btn-blue.active, .btn-blue:active, .open > .dropdown-toggle.btn-grey, .btn-blue.focus, .btn-blue:focus {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open > .dropdown-toggle.btn-blue.focus, .open > .dropdown-toggle.btn-blue:focus, .open > .dropdown-toggle.btn-blue:hover {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.buttons-down {
  float: right;
  margin-top: -20px; }
  .buttons-down .btn {
    margin-left: 20px;
    float: right; }

a.back-link {
  display: block;
  margin-top: 10px; }

/*
NAVIGATION
*/
.navbar {
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
  min-height: 70px;
  position: relative; }

.navbar-nav > li > a {
  padding: 0; }

.nav > li > a {
  padding: 0; }

ul.nav.navbar-nav {
  width: 100%;
  margin: 0; }
  @media only screen and (min-width: 62em) {
    ul.nav.navbar-nav {
      width: auto; } }
  ul.nav.navbar-nav li {
    border: none;
    display: table;
    text-align: center; }
    ul.nav.navbar-nav li > a {
      display: table-cell;
      vertical-align: middle; }
      ul.nav.navbar-nav li > a span {
        display: block;
        font-size: 15px;
        padding: 0 20px;
        text-align: left; }
        @media only screen and (min-width: 62em) {
          ul.nav.navbar-nav li > a span {
            display: block;
            font-size: 14px;
            padding: 0 6px; } }
        @media only screen and (min-width: 75em) {
          ul.nav.navbar-nav li > a span {
            font-size: 15px;
            padding: 0 10px; } }
        @media only screen and (min-width: 90em) {
          ul.nav.navbar-nav li > a span {
            font-size: 16px;
            padding: 0 20px; } }
    ul.nav.navbar-nav li:first-child, ul.nav.navbar-nav li:last-child {
      border: none; }
    ul.nav.navbar-nav li.nav-item {
      width: 100%; }
      @media only screen and (min-width: 48em) {
        ul.nav.navbar-nav li.nav-item {
          width: auto; } }
      ul.nav.navbar-nav li.nav-item > a span {
        color: #32444b;
        font-weight: 700;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #e3e3e3; }
        @media only screen and (min-width: 48em) {
          ul.nav.navbar-nav li.nav-item > a span {
            height: 70px;
            line-height: 70px;
            border-bottom: none; } }
        ul.nav.navbar-nav li.nav-item > a span:hover {
          color: #1b5d89; }

ul.nav.navbar-nav.navbar-login {
  margin-right: 0; }
  @media only screen and (min-width: 75em) {
    ul.nav.navbar-nav.navbar-login {
      margin-right: 60px; } }
  ul.nav.navbar-nav.navbar-login li > a i {
    color: #1b5d89;
    font-size: 28px;
    float: left;
    height: 32px;
    width: 32px;
    margin: 0 20px; }
    @media only screen and (min-width: 48em) {
      ul.nav.navbar-nav.navbar-login li > a i {
        float: none;
        height: 70px;
        line-height: 70px; } }
  ul.nav.navbar-nav.navbar-login li.nav-item {
    width: 100%; }
    @media only screen and (min-width: 48em) {
      ul.nav.navbar-nav.navbar-login li.nav-item {
        width: auto; } }
    ul.nav.navbar-nav.navbar-login li.nav-item > a span {
      color: #1b5d89;
      font-weight: 700; }
      ul.nav.navbar-nav.navbar-login li.nav-item > a span:hover {
        color: #32444b; }

.nav.navbar-nav > li > a:focus, .nav.navbar-nav > li > a:hover {
  background-color: transparent; }
  .nav.navbar-nav > li > a:focus span, .nav.navbar-nav > li > a:hover span {
    color: #1b5d89; }
  .nav.navbar-nav > li > a:focus i, .nav.navbar-nav > li > a:hover i {
    color: #1b5d89; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: #1b5d89; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  border-bottom: 1px solid #8b949f; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0;
  margin-left: 0; }
  @media only screen and (min-width: 62em) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
      margin-right: -15px;
      margin-left: -15px; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  float: left;
  width: 100%;
  background: transparent !important;
  border-bottom: none;
  transition: none; }
  @media only screen and (min-width: 48em) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
      border-bottom: 2px solid #2274ac; } }

/*
TOGGLE
*/
.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 22px;
  border: none; }

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: none !important;
  border-radius: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

/* MOBILE NAV */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2274ac; }

li.nav-item.dropdown.yamm-fw a span:after {
  font-family: FontAwesome;
  content: "\f067" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: -5px;
  color: #bbc2c3; }
  @media only screen and (min-width: 48em) {
    li.nav-item.dropdown.yamm-fw a span:after {
      display: none !important; } }

li.nav-item.dropdown.yamm-fw.open a span:after {
  font-family: FontAwesome;
  content: "\f068" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: -5px;
  color: #bbc2c3; }
  @media only screen and (min-width: 48em) {
    li.nav-item.dropdown.yamm-fw.open a span:after {
      display: none !important; } }

li.nav-item.dropdown.yamm-fw.open span {
  color: #2274ac; }

.r-tabs-accordion-title {
  background: #eaeeed; }

a.r-tabs-anchor {
  display: block;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  line-height: 60px;
  padding-left: 30px; }

.r-tabs-accordion-title a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f067" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: #bbc2c3; }
  @media only screen and (min-width: 48em) {
    .r-tabs-accordion-title a.r-tabs-anchor:after {
      display: none !important; } }

.r-tabs-state-active a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f068" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: #bbc2c3; }
  @media only screen and (min-width: 48em) {
    .r-tabs-state-active a.r-tabs-anchor:after {
      display: none !important; } }

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0; }

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none; }

.r-tabs .r-tabs-panel {
  padding: 30px;
  display: none; }

.r-tabs .r-tabs-accordion-title {
  display: none; }

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none; }

  .r-tabs .r-tabs-accordion-title {
    display: block; } }
#responsiveTabsDemo ul {
  padding-left: 120px;
  height: 60px; }
  #responsiveTabsDemo ul a {
    color: #333333;
    line-height: 60px;
    font-size: 16px;
    padding: 0 10px; }
    #responsiveTabsDemo ul a:hover {
      color: #1b5d89; }
  #responsiveTabsDemo ul.nav.nav-tabs li {
    height: 60px;
    padding: 0; }
    #responsiveTabsDemo ul.nav.nav-tabs li.r-tabs-state-active a {
      color: #1b5d89; }

.nav-pag {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center; }

.nav-tabs.tabs-accesories li a p {
  display: block !important;
  color: #333333 !important; }
.nav-tabs.tabs-accesories li a:hover p {
  color: #1b5d89 !important; }
.nav-tabs.tabs-accesories li.active a p {
  color: #1b5d89 !important; }

ul.nav.nav-tabs.tabs-accesories {
  height: auto !important; }

.nav-tabs.tabs-detail li a p {
  display: block !important;
  color: #333333 !important; }
.nav-tabs.tabs-detail li a:hover p {
  color: #1b5d89 !important; }
.nav-tabs.tabs-detail li.active a p {
  color: #1b5d89 !important; }

ul.nav.nav-tabs.tabs-detail {
  height: auto !important; }

/*
NAV LATERAL
*/
.side-nav-off {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.side-nav {
  background-color: #2274ac;
  right: 0;
  position: fixed;
  top: 35%;
  transition: opacity 0.5s ease-in-out;
  width: 70px;
  z-index: 10; }

a.side-nav-item {
  padding: 15px 0;
  display: block;
  height: 70px; }
  a.side-nav-item i {
    color: #ffffff;
    display: block;
    font-size: 20px;
    text-align: center; }
  a.side-nav-item span {
    color: #ffffff;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 70px; }
  a.side-nav-item:hover {
    background-color: #1b5d89;
    color: #ffffff; }
  a.side-nav-item:hover i, a.side-nav-item:hover span {
    color: #ffffff; }

/*
THUMBNAIL CARDS
*/
.thumbnail.card {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden; }
  .thumbnail.card img {
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms; }
  .thumbnail.card:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

.thumbnail.card .caption {
  padding: 30px;
  position: absolute;
  margin-top: -126px; }

.thumbnail.card h3 {
  color: #ffffff;
  padding-top: 0; }
.thumbnail.card .details {
  color: #ffffff;
  font-size: 18px; }
.thumbnail.card.card-top {
  border-bottom: 2px solid #ffffff; }

.thumbnail.card.card-half {
  width: 100%;
  float: none; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card.card-half {
      width: 50%;
      float: left; } }
  .thumbnail.card.card-half.card-half-left {
    border-bottom: 2px solid #ffffff;
    border-left: none; }
    @media only screen and (min-width: 48em) {
      .thumbnail.card.card-half.card-half-left {
        border-bottom: none;
        border-left: 1px solid #ffffff; } }
  .thumbnail.card.card-half.card-half-right {
    border-bottom: 2px solid #ffffff;
    border-right: none; }
    @media only screen and (min-width: 48em) {
      .thumbnail.card.card-half.card-half-right {
        border-bottom: none;
        border-right: 1px solid #ffffff; } }

.thumbnail.card-newcar {
  background-color: #cfd7d9;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-newcar {
      background-color: #ffffff; } }
  .cotiza-list .thumbnail.card-newcar {
    padding: 0;
    margin: 0;
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .cotiza-list .thumbnail.card-newcar {
        padding: 16px 0;
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .cotiza-list .thumbnail.card-newcar {
        background-color: transparent;
        margin: 10px; } }

.thumbnail.card-newcar:hover {
  background-color: transparent; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-newcar:hover {
      background-color: #eaeeed; } }

.card-newcar-tag {
  position: absolute;
  background-color: #2274ac;
  color: #ffffff;
  padding: 4px 10px;
  margin: 4px;
  font-size: 14px; }
  @media only screen and (min-width: 48em) {
    .card-newcar-tag {
      margin: 10px; } }
  @media only screen and (min-width: 75em) {
    .card-newcar-tag {
      margin: 20px; } }

.thumbnail.card-newcar .caption {
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-newcar .caption {
      padding: 10px; } }
  @media only screen and (min-width: 75em) {
    .thumbnail.card-newcar .caption {
      padding: 10px 20px 20px 20px; } }
  .thumbnail.card-newcar .caption .car-name {
    font-size: 12px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 15px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 16px; } }
  .thumbnail.card-newcar .caption .car-value {
    font-size: 14px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 18px; } }
  .thumbnail.card-newcar .caption .car-discount {
    font-size: 12px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    .thumbnail.card-newcar .caption .car-discount span.tachado {
      text-decoration: line-through; }

.thumbnail.card-compare {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .cotiza-list .thumbnail.card-compare {
    padding: 0;
    margin: 0;
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .cotiza-list .thumbnail.card-compare {
        padding: 16px 0;
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .cotiza-list .thumbnail.card-compare {
        background-color: transparent;
        margin: 10px; } }
  .thumbnail.card-compare form.form-card {
    display: block; }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare form.form-card {
        display: none; } }

.thumbnail.card-compare:hover {
  background-color: transparent; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-compare:hover {
      background-color: #eaeeed; } }
  .thumbnail.card-compare:hover form.form-card {
    display: block; }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare:hover form.form-card {
        display: block; } }

.thumbnail.card-compare .caption {
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-compare .caption {
      padding: 10px; } }
  @media only screen and (min-width: 75em) {
    .thumbnail.card-compare .caption {
      padding: 10px 20px 20px 20px; } }
  .thumbnail.card-compare .caption .car-name {
    font-size: 12px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 15px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 16px; } }
  .thumbnail.card-compare .caption .car-value {
    font-size: 14px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 18px; } }

.form-card-wrapper {
  position: relative;
  z-index: 99;
  background-color: transparent;
  width: 100%; }
  @media only screen and (min-width: 62em) {
    .form-card-wrapper {
      position: absolute;
      z-index: 99;
      background-color: #eaeeed; } }

.category-list .col-xs-6 {
  padding: 0; }

.cotiza-list, .compara-list {
  margin: 20px 0; }

.thumbnail.card-accesories {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-accesories {
      background-color: #ffffff; } }
  .accesories-list .thumbnail.card-accesories {
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .accesories-list .thumbnail.card-accesories {
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .accesories-list .thumbnail.card-accesories {
        background-color: transparent;
        margin: 10px; } }

.thumbnail.card-accesories:hover {
  background-color: transparent; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-accesories:hover {
      background-color: #eaeeed; } }

.thumbnail.card-accesories .caption {
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-accesories .caption {
      padding: 10px; } }
  .thumbnail.card-accesories .caption .accesories-name {
    font-size: 12px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 15px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 16px; } }
  .thumbnail.card-accesories .caption .accesories-value {
    font-size: 14px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 18px; } }

.accesories-list .col-xs-6 {
  padding: 0; }

.accesories-list {
  margin: 20px 0; }

.thumbnail.card-small {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .thumbnail.card-small .description {
    padding-top: 10px;
    height: 56px;
    overflow: hidden; }
  .thumbnail.card-small a {
    font-size: 14px;
    padding-top: 4px; }

.thumbnail.card-small:hover img {
  opacity: 0.65; }
.thumbnail.card-small:hover i.card-like {
  display: block; }
  .thumbnail.card-small:hover i.card-like:before {
    content: "\f08a"; }
  .thumbnail.card-small:hover i.card-like:hover:before {
    content: "\f004"; }

.thumbnail.card-small .caption {
  padding: 20px 30px; }

.thumbnail.card-small h3 {
  color: #1b5d89;
  font-size: 20px;
  padding-top: 0; }
.thumbnail.card-small .value {
  font-size: 18px;
  font-weight: 700; }
.thumbnail.card-small table {
  margin-top: 20px; }
  .thumbnail.card-small table td p {
    font-size: 14px;
    padding-right: 20px; }

.thumbnail.card-small i.card-like-active {
  color: #eac811;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-small i.card-like-active {
      display: block;
      font-size: 24px; } }

.thumbnail.card-small i.card-like {
  color: #eac811;
  display: block;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-small i.card-like {
      display: block;
      font-size: 24px; } }

.thumbnail.card-small.card-sold img {
  opacity: 0.7; }

.tag-sold {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10; }
  .tag-sold span {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px; }

.tag-highlight {
  background-color: rgba(234, 200, 17, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10; }
  .tag-highlight span {
    color: #1b5d89;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px; }

.car-list-search .thumbnail.card-small .caption, .car-list-rel .thumbnail.card-small .caption {
  padding: 20px 16px; }
  .car-list-search .thumbnail.card-small .caption h3, .car-list-rel .thumbnail.card-small .caption h3 {
    font-size: 18px; }
  .car-list-search .thumbnail.card-small .caption .value, .car-list-rel .thumbnail.card-small .caption .value {
    font-size: 16px;
    font-weight: 700; }
  .car-list-search .thumbnail.card-small .caption table, .car-list-rel .thumbnail.card-small .caption table {
    margin-top: 10px;
    margin-bottom: 20px; }
    .car-list-search .thumbnail.card-small .caption table td p, .car-list-rel .thumbnail.card-small .caption table td p {
      font-size: 12px;
      padding-right: 20px; }
  .car-list-search .thumbnail.card-small .caption label, .car-list-rel .thumbnail.card-small .caption label {
    font-size: 14px; }

/*
TABS
*/
.tabs-wrapper {
  background-color: #cfd7d9;
  width: 100%;
  height: auto;
  display: table; }
  @media only screen and (min-width: 48em) {
    .tabs-wrapper {
      background-color: #ffffff; } }
  .tabs-wrapper .col-xs-12 {
    padding: 0; }

.tab-close {
  display: none;
  padding-bottom: 16px; }
  @media only screen and (min-width: 48em) {
    .tab-close {
      display: block; } }
  .tab-close a:hover i {
    color: #333333; }
  .tab-close i {
    font-size: 46px;
    color: #7d7f7f; }

.tab-close-block {
  display: block; }
  .tab-close-block a:hover i {
    color: #333333; }
  .tab-close-block i {
    font-size: 46px;
    color: #7d7f7f; }

.nav-tabs {
  border-bottom: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none; }

.nav-tabs > li > a {
  color: #7d7f7f;
  font-size: 18px;
  padding: 12px 20px; }

.nav-tabs > li > a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0; }

.nav-tabs > li > a:hover {
  border: none;
  background: transparent; }

ul.nav.nav-tabs {
  height: 50px; }
  ul.nav.nav-tabs li {
    height: 50px;
    padding-top: 10px; }
    ul.nav.nav-tabs li a {
      height: 50px;
      display: block;
      padding: 0; }
      ul.nav.nav-tabs li a p {
        color: #e3e3e3;
        font-size: 16px;
        line-height: 30px;
        float: left;
        margin-right: 30px;
        display: none; }
        @media only screen and (min-width: 62em) {
          ul.nav.nav-tabs li a p {
            display: block; } }
      ul.nav.nav-tabs li a span {
        background-color: #e3e3e3;
        color: #ffffff;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: block;
        float: left;
        line-height: 28px;
        text-align: center;
        margin-right: 30px; }
        @media only screen and (min-width: 62em) {
          ul.nav.nav-tabs li a span {
            margin-right: 10px; } }
      ul.nav.nav-tabs li a:hover p {
        color: #2274ac; }
      ul.nav.nav-tabs li a:hover span {
        background-color: #2274ac; }
      ul.nav.nav-tabs li a:focus {
        background-color: transparent; }
    ul.nav.nav-tabs li.active a p {
      color: #2274ac; }
    ul.nav.nav-tabs li.active a span {
      background-color: #2274ac; }

/*
TABLES
*/
table.table-details {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px; }

table.table-details td {
  padding: 5px 0; }

table.table-ficha {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px; }
  table.table-ficha h4 {
    padding: 0; }

table.table-ficha td {
  padding: 10px 0; }

table.table-ficha tr.t-title-row {
  border-bottom: 1px solid #8b949f; }

table.table-ficha tr.t-content-row {
  border-bottom: 1px solid #e3e3e3; }

table.table-ficha td.t-title {
  padding: 20px 0; }

table.table-ficha tr.t-space {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha tr.t-space {
      display: block; } }

table.table-ficha tr.t-title-row th.st-head-row {
  background-color: #8b949f;
  color: #ffffff; }

table.table-ficha th.st-head-row {
  background-color: #e3e3e3; }

table.table-ficha img {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha img {
      display: block; } }
table.table-ficha h4 {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha h4 {
      display: block; } }
table.table-ficha button {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha button {
      display: block;
      margin: 0 auto;
      margin-top: 20px; } }

img.half-img {
  width: 50%;
  margin: 0 auto; }

.car-resume {
  text-align: center;
  display: block; }
  @media only screen and (min-width: 48em) {
    .car-resume {
      display: none; } }

tr.tr-up-border {
  border-top: 1px solid #e3e3e3; }

table.table-auto {
  font-size: 16px;
  line-height: 36px;
  margin-top: 20px;
  width: 100%; }
  table.table-auto i {
    color: #eac811;
    font-size: 24px; }

table.table-resume {
  font-size: 18px;
  margin-top: 20px;
  width: 100%; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

.t-center-mob {
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .t-center-mob {
      text-align: inherit; } }

.t-left.t-f-left {
  float: left; }

.t-right.t-f-right {
  float: right; }

td.t-left img {
  width: 80px; }
  @media only screen and (min-width: 75em) {
    td.t-left img {
      width: 120px; } }

table#compare-cars {
  width: 100%;
  margin-bottom: 140px; }
  table#compare-cars span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: #1b5d89;
    font-weight: 300;
    display: block; }
  table#compare-cars span.car-price {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    display: block; }
  table#compare-cars td, table#compare-cars th {
    padding: 8px 12px; }
  table#compare-cars tbody tr:nth-child(even) td {
    background-color: #ffffff; }
  @media screen and (max-width: 640px) {
    table#compare-cars table {
      overflow-x: auto;
      display: block; } }
  table#compare-cars img {
    width: 200px; }
  table#compare-cars i {
    color: #1b5d89; }

table.stacktable.small-only {
  width: 100%;
  margin-bottom: 140px;
  display: table; }
  @media only screen and (min-width: 48em) {
    table.stacktable.small-only {
      display: none; } }
  table.stacktable.small-only span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: #1b5d89;
    font-weight: 300;
    display: block; }
  table.stacktable.small-only span.car-price {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    display: block; }
  table.stacktable.small-only td, table.stacktable.small-only th {
    padding: 8px 12px; }
  table.stacktable.small-only tbody tr:nth-child(even) td {
    background-color: #ffffff; }
  @media screen and (max-width: 640px) {
    table.stacktable.small-only table {
      overflow-x: auto;
      display: block; } }
  table.stacktable.small-only img {
    width: 200px; }
  table.stacktable.small-only td.st-key, table.stacktable.small-only td.st-val {
    width: 50%; }

table.stacktable.large-only {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.stacktable.large-only {
      display: table; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table i.circle-blue {
  color: #2274ac; }
table i.circle-grey {
  color: #e3e3e3; }

.search-list-brands li, .search-list-years li {
  display: none; }

#view-more-brands, #view-more-years {
  color: #1b5d89;
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0; }

#view-more-brands:hover, #view-more-years:hover {
  color: #2274ac; }

.select-half {
  width: 40%;
  float: left;
  margin-right: 10px; }

.input-wide {
  width: 82%;
  float: left;
  margin-right: 10px; }

a.btn-right {
  display: block;
  float: left;
  font-size: 18px;
  height: 24px;
  margin-top: 8px;
  width: 24px; }

.nav-search-mobile {
  display: block; }
  @media only screen and (min-width: 48em) {
    .nav-search-mobile {
      display: none; } }

#search {
  background-color: #eaeeed;
  height: 60px; }

#search input {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  width: 50%;
  height: 60px;
  letter-spacing: 2px;
  display: inline-block;
  color: #333333;
  padding: 20px 60px 20px 0;
  background-color: transparent;
  border: 0;
  margin-left: 40px; }
  @media only screen and (min-width: 62em) {
    #search input {
      width: 70%; } }
  @media only screen and (min-width: 75em) {
    #search input {
      padding: 20px 60px; } }

#search button {
  background: #2274ac;
  border: none;
  width: 60px;
  height: 60px;
  float: right; }
  #search button i {
    color: #ffffff; }
  #search button:hover {
    background-color: #1b5d89; }
    #search button:hover i {
      color: #ffffff; }

#search input:focus, #search button:focus {
  outline: none; }

ul.nav.navbar-nav.navbar-right.nav-search-mobile {
  float: right; }

ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn {
  float: right;
  margin-top: -50px;
  width: auto; }
  ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn i {
    font-size: 26px;
    padding-right: 18px; }

.search-results {
  padding: 0;
  margin-top: 40px; }
  @media only screen and (min-width: 62em) {
    .search-results {
      margin-top: 0; } }
  .search-results p {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    line-height: 20px; }
    @media only screen and (min-width: 75em) {
      .search-results p {
        line-height: 40px; } }

.order-by {
  float: left;
  margin-top: 20px; }
  @media only screen and (min-width: 62em) {
    .order-by {
      float: right;
      margin-top: 0; } }

select.search-order {
  width: 240px; }

.filter-item {
  background-color: #eaeeed;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; }
  .filter-item span {
    color: #1b5d89; }
  .filter-item i {
    color: #1b5d89;
    font-size: 20px; }
  .filter-item a {
    height: 20px;
    width: 20px; }

p.search-title {
  width: 100%;
  float: left; }

/*
BUTTONS HOME
*/
.buttons-home {
  margin: 0 15px; }

.buttons-home-wrapper {
  background-color: #2274ac;
  overflow: hidden;
  padding: 0; }
  .buttons-home-wrapper i {
    color: #ffffff;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    font-size: 42px;
    text-align: center;
    line-height: 42px; }
    @media only screen and (min-width: 62em) {
      .buttons-home-wrapper i {
        color: #ffffff; } }
  .buttons-home-wrapper span {
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 16px; }
    @media only screen and (min-width: 62em) {
      .buttons-home-wrapper span {
        color: #ffffff; } }

.btn-home {
  padding: 50px 0; }
  @media only screen and (min-width: 62em) {
    .btn-home {
      padding: 100px 0; } }

.btn-home:hover {
  background-color: #1b5d89; }
  .btn-home:hover i, .btn-home:hover span {
    color: #ffffff; }

.btn-border-r {
  border-bottom: 1px solid #eaeeed;
  border-right: 1px solid #eaeeed; }
  @media only screen and (min-width: 62em) {
    .btn-border-r {
      border-bottom: none;
      border-right: 1px solid #eaeeed; } }

.btn-border-m {
  border-bottom: 1px solid #eaeeed;
  border-right: none; }
  @media only screen and (min-width: 62em) {
    .btn-border-m {
      border-bottom: none;
      border-right: 1px solid #eaeeed; } }

.owl-carousel .owl-controls .owl-nav .owl-prev {
  height: 70px;
  width: 70px;
  border-radius: 35px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-image: url("../img/arrow-left.svg") !important;
  padding: 20px !important;
  z-index: 10;
  cursor: pointer !important;
  -moz-background-size: 27px 44px !important;
  -webkit-background-size: 27px 44px !important;
  background-size: 35px 50px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-right: 50px !important; }

.owl-carousel .owl-controls .owl-nav .owl-next {
  height: 70px;
  width: 70px;
  border-radius: 35px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-image: url("../img/arrow-right.svg") !important;
  padding: 20px !important;
  z-index: 10;
  cursor: pointer !important;
  -moz-background-size: 27px 44px !important;
  -webkit-background-size: 27px 44px !important;
  background-size: 35px 50px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-left: 50px !important; }

.slider {
  background-color: #7d7f7f;
  height: 540px;
  padding: 0; }
  @media only screen and (min-width: 62em) {
    .slider {
      height: 640px; } }
  @media only screen and (min-width: 75em) {
    .slider {
      height: 780px; } }
  @media only screen and (min-width: 90em) {
    .slider {
      height: 860px; } }

.slider-inner {
  background-color: #7d7f7f;
  height: 280px;
  padding: 0; }
  @media only screen and (min-width: 62em) {
    .slider-inner {
      height: 360px; } }
  @media only screen and (min-width: 75em) {
    .slider-inner {
      height: 420px; } }
  @media only screen and (min-width: 90em) {
    .slider-inner {
      height: 470px; } }

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0; }
  @media only screen and (min-width: 75em) {
    .swiper-container {
      padding-top: 110px; } }
  .swiper-container.swiper-inner {
    padding-top: 0 !important; }
    @media only screen and (min-width: 75em) {
      .swiper-container.swiper-inner {
        padding-top: 0 !important; } }

.swiper-slide {
  background-size: cover !important;
  background-position: center center !important; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 140px; } }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 140px; } }

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 40px; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px; }

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #ffffff;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: #1b5d89; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-left.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      height: 70px;
      width: 70px;
      border-radius: 35px; } }

.swiper-button-next, .swiper-button-prev {
  background-size: 35px 50px;
  display: none; }
  @media only screen and (min-width: 48em) {
    .swiper-button-next, .swiper-button-prev {
      display: block; } }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-right.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      height: 70px;
      width: 70px;
      border-radius: 35px; } }

a.slider-car-meta {
  margin-left: 20px;
  margin-top: 180px;
  display: block; }
  @media only screen and (min-width: 30em) {
    a.slider-car-meta {
      margin-left: 15%;
      margin-top: 240px; } }
  @media only screen and (min-width: 48em) {
    a.slider-car-meta {
      margin-left: 15%;
      margin-top: 25%; } }
  @media only screen and (min-width: 62em) {
    a.slider-car-meta {
      margin-left: 20%;
      margin-top: 16%; } }
  @media only screen and (min-width: 75em) {
    a.slider-car-meta {
      margin-left: 14%;
      margin-top: 6%; } }
  a.slider-car-meta span.slider-car-name {
    color: #ffffff;
    display: block;
    font-family: "VWHeadWeb-Bold", sans-serif;
    font-weight: 400;
    font-size: 28px; }
    @media only screen and (min-width: 48em) {
      a.slider-car-meta span.slider-car-name {
        text-shadow: none;
        font-size: 36px; } }
    a.slider-car-meta span.slider-car-name i {
      margin-left: 10px;
      font-size: 20px; }
  a.slider-car-meta span.slider-car-info {
    color: #ffffff;
    display: block;
    font-family: "VWHeadWeb-Regular", sans-serif;
    font-size: 18px;
    padding-top: 10px; }
    @media only screen and (min-width: 48em) {
      a.slider-car-meta span.slider-car-info {
        text-shadow: none; } }

h2.big-title {
  font-size: 48px;
  line-height: 52px;
  padding: 20px 0; }

h3.big-title {
  font-size: 36px;
  line-height: 42px;
  padding: 20px 0; }
  h3.big-title.white {
    color: #ffffff; }

p.value {
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px; }
p.fee {
  font-size: 14px;
  padding-bottom: 20px; }
p.white {
  color: #ffffff;
  padding-top: 20px; }

.car-excerpt {
  padding: 40px 0; }
  @media only screen and (min-width: 62em) {
    .car-excerpt {
      padding: 160px 60px; } }

img.car-detail-big {
  margin-bottom: 40px; }

.car-detail-text {
  padding: 20px 80px 60px 0; }

.car-detail-share {
  float: left;
  height: 42px;
  margin: 20px 0 20px 40px; }
  .car-detail-share i {
    font-size: 24px;
    line-height: 28px; }
  .car-detail-share a {
    display: block;
    float: left;
    height: 28px;
    margin: 6px 10px;
    text-align: center;
    width: 28px; }
    .car-detail-share a:hover i {
      color: #2274ac; }

.car-detail-action {
  margin-top: 20px; }
  .car-detail-action i {
    font-size: 24px;
    line-height: 28px;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 20px; }
  .car-detail-action span {
    float: left; }
  .car-detail-action a {
    height: 36px;
    text-align: center;
    display: block; }
    .car-detail-action a:hover i, .car-detail-action a span {
      color: #2274ac; }

.grid {
  margin-bottom: 20px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer,
.grid-item {
  width: 33.333%; }

.grid-item {
  background: #000000;
  float: left; }

.grid-item img {
  display: block;
  max-width: 100%; }

.grid-item a:hover img {
  opacity: 0.5; }

/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */
.ekko-lightbox-container {
  position: relative; }

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%; }

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.ekko-lightbox-nav-overlay a:empty {
  width: 49%; }

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1; }

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left; }

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right; }

.ekko-lightbox .modal-footer {
  text-align: left; }

.modal-backdrop.in {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  background-color: #000000; }

.ekko-lightbox .modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: transparent; }

.ekko-lightbox .modal-header {
  border: 0;
  padding-left: 0;
  padding-right: 0; }

.ekko-lightbox .modal-header .close {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0;
  font-weight: 100;
  margin-top: 5px;
  font-size: 40px;
  margin-right: 14px; }

.ekko-lightbox .modal-header .close:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.ekko-lightbox .modal-header h4.modal-title {
  color: #fff;
  display: none;
  font-weight: 100;
  padding: 0; }

.ekko-lightbox .modal-footer {
  display: none;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 0;
  color: #fff;
  font-weight: 100;
  padding: 0; }

.ekko-lightbox-nav-overlay a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  text-shadow: none; }

/*
NEWSFEED HOME
*/
.news-item {
  background-color: #ffffff;
  height: auto;
  float: left;
  overflow: hidden;
  margin: 0 40px 20px 40px; }
  @media only screen and (min-width: 62em) {
    .news-item {
      height: 280px;
      margin: 0 0 20px 0; } }

.news-item-img {
  height: 280px;
  overflow: hidden; }
  @media only screen and (min-width: 62em) {
    .news-item-img {
      height: auto; } }

.news-item-img .img {
  overflow: hidden;
  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
  -webkit-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms; }
  .news-item-img .img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

.newsfeed .news-item .news-item-meta {
  padding: 42px 30px; }

.news-item-meta .news-meta-date {
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 6px; }
.news-item-meta .news-meta-title {
  display: block;
  font-size: 18px;
  font-weight: 700; }
.news-item-meta .news-excerpt {
  display: block;
  height: 100px;
  margin-top: 20px;
  overflow: hidden; }
  @media only screen and (min-width: 62em) {
    .news-item-meta .news-excerpt {
      height: 80px; } }
  @media only screen and (min-width: 75em) {
    .news-item-meta .news-excerpt {
      height: 100px; } }
  .news-item-meta .news-excerpt p {
    font-size: 14px; }

.thumbnail.card-new {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }

.thumbnail.card-new .caption {
  padding: 30px 30px; }

.thumbnail.card-new h3 {
  color: #1b5d89;
  font-size: 20px;
  padding-top: 0; }
.thumbnail.card-new .value {
  font-size: 18px;
  font-weight: 700; }
.thumbnail.card-new table {
  margin-top: 20px; }
  .thumbnail.card-new table td p {
    font-size: 14px;
    padding-right: 20px; }

.card-new-comments {
  margin: 20px; }

.badge.badge-comments {
  background-color: #1b5d89;
  border-radius: 6px 6px 6px 0;
  font-weight: 400;
  padding: 10px 12px; }

.badge.badge-comments:after {
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1b5d89;
  content: "";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -12px;
  height: 10px;
  width: 10px; }

/*
PAGINATION
*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
  color: #333333; }

.pagination > li > a, .pagination > li > span {
  color: #1b5d89; }

.tags-wrapper {
  display: block;
  height: auto;
  float: left;
  padding-bottom: 30px;
  width: 100%; }

.btn.btn-tag {
  background: transparent;
  float: left;
  padding: 12px 12px;
  margin-right: 10px;
  margin-bottom: 10px; }

.contact-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important; }
  .contact-info p {
    text-align: center; }
  .contact-info h1 {
    padding: 20px 0 30px 0; }

.contact-info-icon {
  text-align: center; }
  .contact-info-icon i {
    font-size: 64px;
    color: #bbc2c3; }

.contact-info-social {
  text-align: center;
  margin: 0 auto; }
  .contact-info-social a {
    margin: 0 10px; }
    .contact-info-social a i {
      color: #2274ac;
      font-size: 32px;
      text-align: center; }
    .contact-info-social a:hover i {
      color: #1b5d89; }

.sede-item {
  padding-bottom: 40px; }
  .sede-item a h4 {
    color: #333333; }
    .sede-item a h4:hover {
      color: #2274ac; }
  .sede-item p {
    font-size: 14px; }

.sede-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important; }
  .sede-info p {
    text-align: center;
    font-size: 14px;
    padding-right: 0; }
    @media only screen and (min-width: 48em) {
      .sede-info p {
        text-align: left; } }
    @media only screen and (min-width: 62em) {
      .sede-info p {
        padding-right: 60px; } }
  .sede-info h4 {
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .sede-info h4 {
        text-align: left; } }

.sede-info-icon {
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .sede-info-icon {
      text-align: left; } }
  .sede-info-icon i {
    font-size: 46px;
    color: #bbc2c3; }

/*
FOOTER
*/
footer {
  background-color: #ffffff; }

#pre-footer {
  background-color: #eac811;
  min-height: 85px; }

.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0; }
  @media only screen and (min-width: 62em) {
    .pre-footer-icon {
      text-align: left;
      margin: 0; } }
  .pre-footer-icon span {
    font-size: 18px;
    height: 40px;
    line-height: 40px; }
    @media only screen and (min-width: 62em) {
      .pre-footer-icon span {
        height: 85px;
        line-height: 85px;
        padding-left: 16px; } }
  .pre-footer-icon i {
    display: block;
    float: none;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px; }
    @media only screen and (min-width: 62em) {
      .pre-footer-icon i {
        float: left;
        margin-right: 10px;
        line-height: 80px; } }

a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: #2274ac; }

#footer {
  padding: 60px 0; }
  #footer p {
    font-size: 16px; }
    #footer p b {
      color: #8b949f;
      font-weight: 700;
      margin-bottom: 20px;
      display: block; }

.footer-contact {
  text-align: left; }
  .footer-contact p {
    color: #8b949f; }
  .footer-contact span {
    color: #333333;
    display: block;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0; }

@media only screen and (min-width: 62em) {
  .footer-social-icons {
    margin: auto;
    width: auto; } }
.footer-social-icons a {
  display: block;
  float: none;
  height: 46px;
  margin-left: -15px; }
  @media only screen and (min-width: 62em) {
    .footer-social-icons a {
      float: left;
      margin-left: 0; } }
  .footer-social-icons a span {
    color: #2274ac;
    font-size: 15px;
    line-height: 46px; }
  .footer-social-icons a i {
    color: #2274ac;
    float: left;
    font-size: 22px;
    line-height: 28px;
    padding: 10px;
    height: 46px;
    text-align: center;
    width: 46px; }
  .footer-social-icons a:hover i, .footer-social-icons a span {
    color: #1b5d89; }

#footer ul li a {
  color: #8b949f;
  display: block;
  font-size: 13px;
  padding: 8px 0; }
  #footer ul li a:hover {
    color: #7d7f7f; }
#footer ul.menu-footer li {
  float: none;
  padding-right: 20px; }
  @media only screen and (min-width: 62em) {
    #footer ul.menu-footer li {
      float: left; } }
  #footer ul.menu-footer li a {
    color: #2274ac;
    font-weight: 700; }
    #footer ul.menu-footer li a:hover {
      color: #1b5d89; }

p.footer-rights {
  color: #8b949f;
  font-size: 13px !important;
  padding-top: 30px;
  text-align: left; }
  @media only screen and (min-width: 62em) {
    p.footer-rights {
      text-align: right;
      padding-top: 10px; } }

.row.padding-top {
  padding-top: 50px; }

.comparation-list {
  float: right;
  padding: 20px 0 0 0;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .comparation-list {
      width: auto; } }

.compare-item {
  float: left;
  margin-right: 40px; }
  @media only screen and (min-width: 48em) {
    .compare-item {
      margin-right: 40px; } }
  .compare-item img {
    height: 60px;
    margin-top: 8px; }
  .compare-item i {
    height: 30px;
    width: 30px;
    background: transparent;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 0;
    position: absolute;
    margin-top: -80px;
    margin-left: 80px; }
    @media only screen and (min-width: 48em) {
      .compare-item i {
        height: 30px;
        width: 30px;
        line-height: 30px;
        border-radius: 0;
        position: absolute;
        margin-top: -80px;
        margin-left: 80px; } }

.row-eq-height {
  display: block;
  display: block;
  display: block;
  display: block; }
  @media only screen and (min-width: 62em) {
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

/*
CONTENT
*/
.no-padding {
  padding: 0; }

.container {
  padding-right: 40px;
  padding-left: 40px; }
  @media only screen and (min-width: 62em) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }

section.content {
  padding-top: 120px;
  padding-bottom: 40px; }

section.content-normal {
  padding-top: 40px;
  padding-bottom: 40px; }

section.content.no-padding {
  padding-top: 60px;
  padding-bottom: 0; }

section.content-home {
  padding-top: 40px;
  padding-bottom: 60px; }

section.content-white {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 120px; }
  section.content-white.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px; }

section.content-grey {
  background-color: #eaeeed;
  padding-top: 40px;
  padding-bottom: 120px; }
  section.content-grey.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px; }

section.bg-white {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 120px; }

.bg-grey {
  background-color: #eaeeed; }

section.auto-nav {
  padding-top: 130px;
  padding-bottom: 20px; }

section.auto-bg {
  background-image: url(../img/auto-bg.jpg);
  background-position: center center;
  padding-bottom: 200px; }
  @media only screen and (min-width: 48em) {
    section.auto-bg {
      padding-bottom: 260px; } }
  @media only screen and (min-width: 62em) {
    section.auto-bg {
      padding-bottom: 460px; } }
  @media only screen and (min-width: 75em) {
    section.auto-bg {
      padding-bottom: 640px; } }

section.title-header {
  background-color: #eaeeed;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 48em) {
    section.title-header {
      padding-top: 160px; } }
  @media only screen and (min-width: 62em) {
    section.title-header {
      padding-top: 130px; } }
  section.title-header h1 {
    padding: 10px; }

section.auto-nav {
  background-color: #eaeeed;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 48em) {
    section.auto-nav {
      padding-top: 160px; } }
  @media only screen and (min-width: 62em) {
    section.auto-nav {
      padding-top: 130px; } }
  section.auto-nav h1 {
    padding: 10px; }

.content-image {
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 48em) {
    .content-image {
      height: 360px; } }
  @media only screen and (min-width: 62em) {
    .content-image {
      height: 420px; } }
  @media only screen and (min-width: 75em) {
    .content-image {
      height: 470px; } }

.pad-top {
  padding-top: 40px; }

.pad-bottom {
  padding-bottom: 40px; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.breadcrumb {
  font-size: 14px;
  padding: 8px 15px 8px 0;
  background-color: transparent; }

.image-pad {
  padding-top: 80px; }

.image-pad img {
  margin: 0 auto; }

hr.hr-grey {
  border-top: 1px solid #e3e3e3;
  margin-top: 10px;
  margin-bottom: 10px; }

/*
MOBILE
*/
.mobile-padding-top {
  margin-top: 40px; }
  @media only screen and (min-width: 62em) {
    .mobile-padding-top {
      margin-top: 0; } }

/*
SIM
*/
.new-sim-button {
  border: 2px dashed #7d7f7f; }

.new-sim-wrapper {
  background-color: #eaeeed;
  border: 2px solid #8b949f;
  height: 320px;
  margin: 14px;
  padding: 20px;
  text-align: center;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.new-sim-button:hover .new-sim-wrapper {
  background: #8b949f; }

.new-sim-icon {
  margin-top: 100px; }
  .new-sim-icon p {
    color: #7d7f7f; }
  .new-sim-icon i {
    font-size: 46px;
    color: #7d7f7f; }

.place-wrapper {
  background-size: cover;
  padding: 140px 0;
  margin-bottom: 30px;
  text-align: center; }
  .place-wrapper span {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300; }

span.address {
  text-align: center;
  display: block;
  margin-bottom: 40px; }

.map-wrapper {
  margin-top: 40px; }

#map {
  width: 100%;
  height: 460px; }

/*
MODAL WINDOWS
*/
.modal-header {
  border-bottom: none; }

.modal-header .close {
  margin-top: -2px;
  font-size: 36px;
  color: #ffffff !important;
  background-color: #7d7f7f;
  opacity: 1;
  position: absolute;
  left: 100%;
  margin-left: 40px;
  margin-top: -60px;
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.close {
  text-shadow: none !important; }

.modal-body.modal-icon {
  padding-bottom: 60px;
  text-align: center; }
  .modal-body.modal-icon i {
    color: #2274ac;
    font-size: 68px; }
  .modal-body.modal-icon span {
    display: block;
    font-size: 24px;
    padding: 10px 0; }

.modal-dialog {
  margin: 80px auto !important; }

.modal-header .close span {
  display: block;
  text-align: center;
  margin-top: -8px;
  margin-left: 2px; }

h4.modal-title {
  font-size: 18px !important;
  text-align: center; }

.modal-body.form-popup {
  padding: 40px 80px; }

.modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important; }

/*SEE END OF THUMBNAIL FUCNTION TO TINKER SIZE OF THUMBS*/
.owl-carousel .owl-controls .owl-dot {
  float: left;
  background-size: cover;
  margin-top: 10px; }

.owl-carousel .owl-dot {
  float: left;
  background-size: cover; }

.owl-carousel .owl-controls .owl-dot {
  width: 40px !important;
  height: 40px !important;
  background-position: center center !important;
  border-radius: 20px !important;
  margin: 20px !important;
  background-size: 500% !important; }
  .owl-carousel .owl-controls .owl-dot span {
    display: none !important; }

.owl-dots {
  margin: 0 auto;
  text-align: center;
  display: table; }

.owl-carousel h2 {
  text-align: center; }

.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-prev {
  margin-top: -300px !important;
  right: 100% !important;
  position: absolute !important; }

.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-next {
  margin-top: -300px !important;
  left: 100%;
  position: absolute !important; }

/*
BODY
*/
body {
  background-color: #eaeeed;
  font-family: "VWHeadWeb-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "VWHeadWeb-Bold", sans-serif; }

h1 {
  font-family: "VWHeadWeb-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding: 20px 0 60px 0;
  text-align: center; }
  h1.h1-home {
    padding: 20px 0 40px 0; }

h2 {
  font-size: 26px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px; }

h3 {
  font-size: 26px;
  padding: 12px 0;
  font-weight: 400; }
  h3.subtitle {
    font-size: 20px;
    font-weight: 700;
    text-align: center; }

h4 {
  font-size: 22px;
  font-weight: 300;
  padding: 20px 0; }

h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: 400; }

h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 700; }

h1.center-title {
  text-align: center;
  padding-bottom: 40px; }

p {
  font-family: "VWHeadWeb-Regular", sans-serif; }

p.small-text {
  font-size: 12px; }

p.form-title {
  padding-left: 16px; }

p.text-title {
  color: #1b5d89;
  margin-top: 20px;
  font-size: 18px; }

p.total-value {
  color: #1b5d89;
  font-size: 18px; }

p.no-margin {
  margin-bottom: 0; }

p.news-date {
  padding: 20px 0; }

p.blue {
  color: #2274ac; }

.col-no-margin {
  margin: 0;
  padding: 0; }

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none; }

.owl-theme .owl-controls .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0; }

/*# sourceMappingURL=styles.css.map */
